@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
.nav {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 214, 171) 0%, rgb(255, 182, 182) 90%);
  padding: 5px 15px;
  width: 100%;
  height: 150px;
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.nav img {
  width: 110%;
  height: 125px;
  display: flex;
  justify-content: center;
}
.nav ul {
  list-style: none;
  display: flex;
  margin-right: 5px;
  justify-content: flex-end;
}
.nav ul li {
  color: rgb(205, 14, 205);
  margin: 8px;
  display: flex;
  justify-content: flex-end;
}
.nav ul a {
  text-decoration: none;
  color: rgb(205, 14, 205);
  font-size: 1.2em;
}
.nav ul form {
  margin: 8px;
  display: flex;
  justify-content: flex-end;
}
.nav ul input {
  border: none;
  color: rgb(205, 14, 205);
}
.nav ul input button {
  border-radius: 3px;
  color: rgb(205, 14, 205);
  border: none;
}

.productos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.productos img {
  width: 100%;
  height: 300px;
  padding: 20px;
}
.productos img:hover {
  font-weight: lighter;
  padding: 1.1px;
  color: rgb(205, 14, 205);
}

.destacados {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.destacados img {
  width: 100%;
  height: 300px;
}
.destacados img:hover {
  font-weight: lighter;
  padding: 1.5px;
  color: rgba(128, 128, 128, 0.615);
}

.navigator {
  display: center;
  flex-direction: row;
  justify-content: flex-end;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 214, 171) 0%, rgb(255, 182, 182) 90%);
}
.navigator ul {
  display: center;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 214, 171) 0%, rgb(255, 182, 182) 90%);
}
.navigator ul li {
  display: center;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 214, 171) 0%, rgb(255, 182, 182) 90%);
}
.navigator button {
  border: none;
  background-color: rgb(205, 14, 205);
  width: 100%;
  height: 30px;
}
.navigator:hover {
  font-weight: lighter;
  font-weight: lighter;
  padding: 1.5px;
  color: rgba(128, 128, 128, 0.615);
  cursor: pointer;
}

.nav {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 214, 171) 0%, rgb(255, 182, 182) 90%);
  padding: 5px 15px;
  width: 100%;
  height: 150px;
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav div a {
  display: flex;
  justify-content: flex-start;
  align-self: center;
}
.nav div a img {
  width: 100%;
  height: 100px;
  justify-content: flex-start;
}
.nav div ul {
  list-style: none;
  display: flex;
  margin-right: 5px;
  justify-content: center;
}
.nav div ul li {
  color: rgb(205, 14, 205);
  margin: 8px;
  display: flex;
  justify-content: center;
}
.nav div ul a {
  text-decoration: none;
  color: rgb(205, 14, 205);
  font-size: 1.2em;
}
.nav div ul form {
  margin: 8px;
  display: flex;
  justify-content: flex-end;
}
.nav div ul input {
  border: none;
  color: rgb(205, 14, 205);
}
.nav div ul input button {
  border-radius: 3px;
  color: rgb(205, 14, 205);
  border: none;
}

@media (max-width: 600px) {
  .presentacion img {
    width: 30%;
    height: 60px;
  }
  .presentacion img .container {
    width: 70%;
    height: 100%;
    margin: 5px auto;
    padding: 3px 3px;
  }
}
@media (max-width: 600px) {
  h1,
  h2,
  h3 {
    font-family: "Quicksand", sans-serif;
    color: rgb(205, 14, 205);
    margin: 8px 0;
    font-weight: 1em;
    text-align: center;
    font-size: 1.2em;
  }
}
@media (max-width: 600px) {
  .destacados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .destacados .destacados img {
    width: 80%;
    height: 150px;
    padding: 5px;
  }
  .productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .productos .productos img {
    width: 80%;
    height: 100px;
    padding: 5px;
  }
  .button .type {
    width: 50%;
    height: 50px;
    padding: 5px;
  }
}
@media (max-width: 600px) {
  .logos {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 214, 171) 0%, rgb(255, 182, 182) 90%);
  }
  .logos article {
    margin: 20px;
    display: inline-flex;
    width: 20%;
  }
  .logos article a {
    width: 10%;
    color: rgb(205, 14, 205);
  }
  .logos article a img {
    width: 30%;
  }
  .logos article a img svg {
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
  .logos article a img svg:hover {
    font-weight: lighter;
    padding: 1.5px;
    color: deeppink;
  }
}
@media (max-width: 600px) {
  .consultas {
    margin-right: 10px;
  }
  .consultas .consultas form {
    margin: 20px;
    width: 20%;
    border: none;
  }
  .consultas .consultas form .consultas form label {
    display: block;
    color: rgba(128, 128, 128, 0.615);
  }
}
@media (max-width: 600px) {
  .nav {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 214, 171) 0%, rgb(255, 182, 182) 90%);
    padding: 3px 10px;
    width: 100%;
    height: 150px;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .nav div ul {
    list-style: none;
    display: flex;
    margin-right: 3px;
    justify-content: center;
  }
  .nav div ul li {
    color: rgb(205, 14, 205);
    margin: 5px;
    display: flex;
    justify-content: center;
  }
  .nav div ul li a {
    text-decoration: none;
    color: rgb(205, 14, 205);
    font-size: 0.8em;
  }
  .nav div ul li form {
    margin: 5px;
    display: flex;
    justify-content: flex-end;
  }
  .nav div ul li form input {
    background-color: deeppink;
  }
  .nav div ul li form input button {
    border-radius: 2px;
    color: deeppink;
    border: none;
  }
}
@media (max-width: 600px) {
  footer {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 214, 171) 0%, rgb(255, 182, 182) 90%);
  }
  footer p {
    margin: 50px;
    font-weight: 400;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .iframe {
    width: 80%;
    height: 150px;
  }
}
#error404 {
  background-image: url(../imagenes/iconos/error404.jpeg);
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}
* h1,
* h2,
* h3 {
  font-family: "Quicksand", sans-serif;
  color: rgb(205, 14, 205);
  margin: 10px 0;
  font-weight: 400;
  text-align: center;
}
* p {
  font-family: "Quicksand", sans-serif;
  font-size: 400;
  font-weight: 1em;
}
* .logos {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 214, 171) 0%, rgb(255, 182, 182) 90%);
}
* .logos article {
  margin: 30px;
  display: inline-flex;
  width: 30%;
}
* .logos article a {
  width: 10%;
  color: rgb(205, 14, 205);
}
* .logos article a img {
  width: 30%;
}
* .logos article a img svg {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
* .logos article a img svg:hover {
  font-weight: lighter;
  padding: 1.5px;
  color: deeppink;
}
* .presentacion img {
  display: flex;
  width: 100%;
  height: 400px;
}
* .presentacion imgscale:hover {
  transform: scaleX(1.4);
  cursor: pointer;
  transition: all 2s;
}
* .container {
  width: 50%;
  height: auto;
  margin: 50px auto;
  padding: 10px 5px;
}
* .container img {
  display: flex;
  width: 100%;
  height: 400px;
  padding: 10px 5px;
}
* .container img:hover {
  font-weight: lighter;
  padding: 1.5px;
  color: rgba(128, 128, 128, 0.615);
}
* .consultas {
  margin-right: 30px;
}
* .consultas .consultas form {
  margin: 60px;
  width: 100%;
  border: none;
}
* .consultas .consultas form .consultas form label {
  display: block;
  color: rgba(128, 128, 128, 0.615);
}
* .contacto-form {
  color: rgb(205, 14, 205);
}
* footer {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(255, 214, 171) 0%, rgb(255, 182, 182) 90%);
}
* footer p {
  margin: 50px;
  font-weight: 400;
  text-align: center;
}
* a:hover {
  font-weight: lighter;
  padding: 1.5px;
  color: rgba(128, 128, 128, 0.615);
  cursor: pointer;
}
* iframe {
  width: 100%;
  height: 200px;
}
* .scale:hover {
  transform: scaleX(1.4);
  cursor: pointer;
  transition: all 2s;
}

/*# sourceMappingURL=main.css.map */
