*{
  font-family:$mainFont;
  box-sizing:border-box;
  h1,
  h2,
  h3{
   font-family:$mainFont;
   color:$principalColor;
   margin:10px 0;
   font-weight:$textRegular;
   text-align:center;
  }
  p{
   font-family:$mainFont;
   font-size:$textRegular;
   font-weight:$texM;
  }
  .logos{
    background-image:radial-gradient(circle farthest-corner at 10% 20%,  rgba(255,214,171,1) 0%, rgba(255,182,182,1) 90% );
    article{
      margin:30px;
      display:inline-flex;
      width:30%;
     a{
       width:10%;
       color:$principalColor;
       img{
          width:30%;
         svg{
            width:20px;
            height:20px;
            margin-right:15px;
            &:hover{
             font-weight:lighter;
             padding:1.5px;
             color:$secondaryColor 
            }
          }   
        }    
      } 
    }
  } 
  .presentacion {
    img{
     display:flex;
     width:100%;
     height:400px;
      &scale:hover{
       transform:scaleX(1.4);
       cursor:pointer;
       transition:all 2s;
     }
    }
  }
  .container{
    width:50%;
    height:auto;
    margin:50px auto;
    padding:10px 5px;
    img{
      display:flex;
      width:100%;
      height:400px;
      padding:10px 5px;
      &:hover{
        font-weight:lighter;
        padding:1.5px;
        color:$neutroColor 
      }
    }      
  }
  .consultas{
    margin-right:30px;
    .consultas form{
      margin:60px;
      width:100%;
      border:none;
      .consultas form label{
        display:block;
        color:$neutroColor;
      }
    }
  }
  .contacto-form {        
    color:$principalColor;
  }
 footer{
    background-image:radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,214,171,1) 0%, rgba(255,182,182,1) 90% );
    p{
      margin:50px;
      font-weight:$textRegular;
      text-align:center;
    }
  }
 a:hover {
   font-weight:lighter;
   padding:1.5px;
   color:$neutroColor ;
   cursor:pointer;
  }
  iframe{
   width:100%;
   height:200px;
  }
  .scale:hover{
   transform:scaleX(1.4);
   cursor:pointer;
   transition:all 2s;
  }
  .productos{
   display: flex;
   flex-direction: row;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
   div {
    margin: 5px auto;
     img {
         width: 80%;
         height: 200px;
         padding: 20px;
          &:hover{
            font-weight: lighter;
            padding:1.1px;
            color: $principalColor 
          }
        }
        p{   
         font-family:$mainFont;
         color:$secondaryColor;
         margin: 8px 0;
         font-weight: 1.0em;
         text-align: center;
         font-size: 0.9em;
         }
         figcaption{   
         font-family:$mainFont;
         color:$principalColor;
         margin: 8px 0;
         font-weight: 1.0em;
         text-align: center;
         font-size: 1.2em;
         }         
         button{
         width: 90%;         
         font-family:$mainFont;
         color:$neutroColor;           
         font-size: 0.9em; 
         text-align: center;                                      
         }
    }
}
}
