
@media (max-width: 600px){
    .presentacion img{
       width: 80%;
       height: 200px;
    }
    .container{
       width: 100%;
       height: auto;
       margin: 8px auto;
       padding: 3px 3px;
     }
}
@media (max-width: 600px){
     h1,
     h2,
     h3{
      color:  $principalColor;
      margin: 5px 0;
      font-weight: 0.6em;
      text-align: center;
      font-size: 0.9em;
    }
}
@media (max-width: 600px){
    .destacados {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
    }
    .destacados img {
       width: 80%;
       height: 150px;
       }
    .productos{
       display: flex;
       flex-direction: row;
       justify-content: space-around;
    }
    .productos img {
       width: 75%;
       height: 100px;
       padding: 10px;
       }
}       
@media (max-width: 600px){
    .logos article{
     margin: 7px;
     width: 15%;
    }
   .logos article img{
    width: 10%;
     }
     .logos article svg{
       width: 25px;
       height: 25px;
       margin-right: 10px;
    }
}
@media (max-width: 600px){
    .consultas{
       margin-right: 15px;
     }
    .consultas form{
    margin: 30px;
    width: 50%;
   }
}
@media (max-width: 600px){
   .nav{
      margin-right: 15px;
      img {
       width: 80%;
       height: 110px;
       ul {
       list-style: none;
       display: flex;
       margin-right: 2px;
       justify-content: flex-end;
       li{
        background-color: $neutroColor;
        margin: 8px;
        display: flex;
        justify-content: flex-end;
        a{
         text-decoration: none;
         color: $principalColor;
         font-size: 1.2em;  
         }
         form {
            margin: 8px;
            display: flex;
            justify-content: flex-end;
            }
         input{
               border: none;
               color: $principalColor;
               button {
                   border-radius: 3px;
                   color: $principalColor;
                   border: none;
                }
         }
       }
       }
      }
   }
}