//variables globales
$principalColor: rgb(205, 14, 205);
$secondaryColor: deeppink;
$tercerColor: orange;
$neutroColor: rgba(128, 128, 128, 0.615);
$detallesColor: violet;
//fonts
$mainFont:'Quicksand', sans-serif;
//weigth
$textRegular: 400;
$texLigth: 250;
$textBold: 600;
//sizes
$textXS: 0.5em;
$textS: 0.8em;
$texM: 1em;
$texL: 1.2em;
$texXL: 1.5em;